@mixin textShadow () {
	-webkit-text-shadow: -1px -1px 1px #000000;
	-moz-text-shadow: -1px -1px 1px #000000;
	text-shadow: -1px -1px 1px #000000;
}

@mixin boxShadow01 ($type) {
	-webkit-box-shadow: 2px 2px 4px $type;
	-moz-box-shadow: 2px 2px 4px $type;
	box-shadow: 2px 2px 4px $type;
}

@mixin bgSize ($type:contain) {
	-webkit-background-size: $type;
	-moz-background-size: $type;
	background-size: $type;
}

@mixin borderRadius ($type:50%) {
	-webkit-border-radius: $type;
	-moz-border-radius: $type;
	border-radius: $type;
}