/* common.css */

@import 'mix';

a {
	// text-decoration: none;
	color: #ffffff;
}

html {
	font-size: 62.5%;
	height: auto;
	min-height: 100%;
	background-color: #4bb86f;
}

body {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 640px;
	height: 100%;
	background-color: #4bb86f;
	line-height: 140%;
	color: #ffffff;
	font-size: 14px; font-size: 1.4rem;
}

header {
	position: relative;
	overflow: hidden;
	top: 0px;
	margin: 0 auto;
	padding: 0.5em 0;
	width: 100%;
	border-bottom: 1px solid #fafafa;

	#btn_home {
		float: right;
	}

	#btn_menu {
		display: block;
		float: left;
	}

}

footer {
	position: relative;
	bottom: 0;
	margin-bottom: 10px;
	font-size: 12px; font-size: 1.2rem;
}

#mainColum {
	position: relative;
	height: 100%;
}

/*
* sideBar
*/

#sideBar-Container {
	position: absolute;
	z-index: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(23,49,18,0.6);

	&.def {
		z-index: 10000;
		opacity: 1;
	}
}

#sideBar {
	width: 45%;
	height: 100%;
	background-color: #fefefe;
	@include boxShadow01(#353535);

	.menuTitle {
		padding: 8px 0;
		text-align: center;
		color: #4bb86f;
		border-bottom: 1px solid #a1a1a1;
	}
}

#mainVisualContainer {
	position: relative;
	width: 100%;
	height: auto;
	background: url('../images/cover/main001.jpg') no-repeat center;
	@include bgSize(cover);

}

#newAccountContainer {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

/*
* btn
*/

.btnBox {
	width: 100%;
	text-align: center;

	&.type-login {
		position: relative;
		// padding-top: 80%;

		#btn_login {
		}
		a {
		}
	}

 	a {
		display: block;
		margin: 0 auto;
		padding: 0.6em 0;
		width: 40%;
		border: 1px solid #cacaca;
		background-color: #ffffff;
		text-align: center;
		text-decoration: none;
		color: #666666;
		font-weight: 600;
		font-size: 14px; font-size: 1.4rem;

		@include borderRadius(4px);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #e0e0e0), color-stop(0.00, #fff));
		background: -webkit-linear-gradient(#fff, #e0e0e0);
		background: -moz-linear-gradient(#fff, #e0e0e0);
		background: linear-gradient(#fff, #e0e0e0);
 	}

}


/*
* commentBox
*/

.comentBox {
	text-align: center;
	font-size: 12px; font-size: 1.2rem;

	&#askHelpBox {
	}

	&#welcomeMeBox {
		padding-top: 80%;
		@include textShadow02();
	}

	&#infoBox {
		font-size: 14px; font-size: 1.4rem;
	}
}

#copyRight {
	text-align: center;
}
