<DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="../js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../js/user/common.js"></script>
<link rel="stylesheet" href="../css/css/layout.css">
<link rel="stylesheet" href="../css/css/common.css">
<link rel="stylesheet" href="../css/css/card.css">
</head>
<body style="width:320px;border: 1px solid #a1a1a1">

	<header id="header">
		<section id="btn_menu">
			<span>□</3span>
		</section>
		<section id="btn_home">
			<span>□</span>
		</section>
	</header> <!-- //header -->

	<section id="mainColum-Container">
	
		<section id="sideBar-Container" class="">
			<section id="sideBar">
				<section class="menuTitle">
					MENU
				</section>
			</section>
		</section>

		<section id="serchBox">
			<form>
				<input type="text">
			</form>
			<img src="../images/main01.jpg" />
		</section>



	</section> <!-- //#mainColum-Container -->

	<footer>
		<section id="footerMenu">

		</section>
		<section id="copyRight" class="mgB30">
			<span>abc.inc</span>
		</section>
	</footer>

</body>

</html>