<DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="../js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../js/user/common.js"></script>
<link rel="stylesheet" href="../css/css/layout.css">
<link rel="stylesheet" href="../css/css/common.css">
</head>
<body style="width:320px;border: 1px solid #a1a1a1">

	<section id="sideBar-Container" class="def">
		<section id="sideBar">
			<section class="menuTitle">
				MENU
			</section>
		</section>
	</section>

	<header id="header" class="mgB30">
		<section id="btn_menu">
			<span>□</3span>
		</section>
		<section id="btn_home">
			<span>□</span>
		</section>
	</header> <!-- //header -->

	<section id="mainColum-Container">

		<section id="input-Container">
			<section class="comentBox">
				<span>What's your name</span>
			</section>
			<form>
				<input type="textarea" id="" />
			</form>
		</section>

		<section class="btnBox mg30">
			<section id="btn_login">
				<span>Login</span>
			</section>
		</section>

		<section id="snsSingin-Container">
			<section id="google">

			</section>
			<section id="facebook">

			</section>
		</section>

		<section id="copyRight" class="mgB30">
			<span>abc.inc</span>
		</section>


	</section> <!-- //#mainColum-Container -->


</body>

</html>