<DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/layout.css">
<link rel="stylesheet" href="../css/common.css">
</head>
<body>

    <section id="mainColum">

        <section id="mainVisualContainer">

            <section class="btnBox type-login mgB10">
                <section id="btn_login">
                    <a href="./entry.html">Login</a>
                </section>
            </section>

            <section id="askHelpBox" class="comentBox mgB20">
                <span>do you need</span>
                <a href="#header">help?</a>
            </section>

            <section id="newAccountContainer" class="mgB20">
                <a href="./entry.html">新規作成</a>
            </section>
            <!-- //#newAccountContainer -->

            <footer>
                <section id="copyRight" class="mgB30">
                    <span>abc.inc</span>
                </section>
            </footer>

        </section>

    </section>
    <!-- //#mainColum -->

</body>

</html>