<DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/layout.css">
<link rel="stylesheet" href="../css/common.css">
</head>
<body>

    <section id="mainColum">

        <section id="mainVisualContainer">
            <ssection id="mainVisualBox">
                <img src="../images/main01.jpg" alt="" />
            </section>
            <section class="btnBox type-login">
                <section id="btn_login">
                    <a href="./entry.html">Login</a>
                </section>
            </section>
        </section>

<!--         <section id="icon_rogo" class="mgB30">
            <img src="../images/rogo.png" alt="rogo">
        </section>
 -->

        <section id="newAccountContainer">
            <section class="iconBox">
                <img src="../images/icon_man.png" alt="新規作成" />
            </section>
        </section>
        <!-- //#newAccountContainer -->

        <section class="comentBox mgB30">
            <span>do you need</span>
            <a href="#header">help?</a>
        </section>

        <section id="copyRight" class="mgB30">
            <span>abc.inc</span>

        </section>

    </section> <!-- //#mainColum -->

</body>

</html>